.cdx-simple-video {}


.cdx-simple-video .cdx-loader {
  min-height: 200px;
}

.cdx-simple-video .cdx-input {
  margin-top: 10px;
}

.cdx-simple-video video {
  max-width: 100%;
  vertical-align: bottom;
}

.cdx-simple-video__caption[contentEditable=true][data-placeholder]:empty::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
 }

.cdx-simple-video__caption[contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-simple-video__caption[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


.cdx-simple-video__picture--with-background {
  background: #eff2f5;
  padding: 10px;
}

.cdx-simple-video__picture--with-background video {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}

.cdx-simple-video__picture--with-border {
  border: 1px solid #e8e8eb;
  padding: 1px;
}

.cdx-simple-video__picture--stretched video {
  max-width: none;
  width: 100%;
}
